                        <div className="form-group">
                            <label>[nomColonne]</label>
                            <input type="[type]" className="form-control"
                            name="[nomColonne]"
                            value={formData.[nomColonne]}
                            onChange={handleInputChange}/>
                        </div>