const[[nomTable]s,set[nomTable]s]=useState([]);
useEffect(() =>{
    const fetchData=async() => {
        const data=await select[nomTableMaj]();
        set[nomTable]s(data);
    };
    fetchData();
},[]);