<select name={[nomTable]}>
    {
        [nomTable]s.map(([nomTable],set[nomTable])=>(
            <option key={index} value={[nomTable].id[nomTable]}>{[nomTable].id[nomTable]}</option>
        ) )
    }
</select>
